In [1]:
import pandas as pd
import numpy as np
a=pd.Series("java","c","cpp",np.nan)
a.map('java':'core')

SyntaxError: invalid syntax (702346294.py, line 4)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
id=[102,107,109,114]
emp=['parker','jon','cena','william']
emp_series=pd.Series(emp)
id_series=pd.Series(id)
frame={Emp}

NameError: name 'Emp' is not defined

In [7]:
import pandas as pd
info={'ID':[101,102,103],'DEPARTMENT':['BSC','BTECH','MTECH']}
df=pd.DataFrame(info)
print(df)

    ID DEPARTMENT
0  101        BSC
1  102      BTECH
2  103      MTECH

In [10]:
import pandas as pd
info={'one':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']),
'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1=pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [11]:
#importing the pandas library
import pandas as pd
info={'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),
     'two':pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])}
df=pd.DataFrame(info)
print("Add new column by passing series")
df['three']=pd.Series([20,30,40],index=['a','b','c'])
print(df)
print("Add new column using existing Dataframe colums")
df['four']=df[one]+df[three]
print(df)

Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   30.0
c  3.0    3   40.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing Dataframe colums

NameError: name 'one' is not defined

In [12]:
import pandas as pd
import numpy as np
info = np.array(['P','a','n','d','a','s'])
a = pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [13]:
#converting list to data frame

import pandas as pd
x = ['Python', 'Pandas']
df = pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [14]:
#mapping values
import pandas as pd
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})#mapping values
import pandas as pd
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [15]:
import pandas as pd
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [16]:
s=pd.Series(["a","b","c"])
name="vals"
s.to_frame()

   0
0  a
1  b
2  c

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
emp = ['Parker','John','Smith','William']
ide = [102,107,109,114]
emp_series = pd.Series(emp)
ide_series = pd.Series(ide)
frame = {'EMP':emp_series,'ID':ide_series}
result=pd.DataFrame(frame)
print(result)

       EMP   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [18]:
'''create e dictionary, name, age and city and pass the values to it and convert that to the dataframe '''

import pandas as pd
info = {'Name':pd.Series(['Amlan','Juhuuuu','Pracheeee','Amryutanshoe','Annabelle']),
        'Age':pd.Series([19,18,20,18,19]),
        'City':pd.Series(['Cuttack','Asansol','Rourbanana','Balasore','Michighan'])}
pookie = pd.DataFrame(info)
print(pookie)

           Name  Age        City
0         Amlan   19     Cuttack
1       Juhuuuu   18     Asansol
2     Pracheeee   20  Rourbanana
3  Amryutanshoe   18    Balasore
4     Annabelle   19   Michighan

In [19]:
import pandas as pd
info = {'one':pd.Series([1,2,3,4,5,6], index = ['a','b','c','d','e','f']),
       'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1 = pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [20]:
#Assesment 3 

'''Create a dict with
stud name
stud id
dept
grade
Note: Pass values for each

Convert it into a Data Frame

1. Retrieve using the dept name
2. Retreive using the iloc of 2
3. Retreive using the id of the students'''

stud = {'stud_name':pd.Series(['X','Y','Z','W','V','U']),
        'stud_id':pd.Series([101,102,103,104,105,106]),
        'Dept':pd.Series(['FET','FOS','FMS','FOAg','FET','FOS']),
        'Grade':pd.Series(['A','A','D','B','A','C'])}
frame3 = pd.DataFrame(stud)
print(frame3)
print('\n')

#1. Retreiving using the dept names
frame3.loc[2]

  stud_name  stud_id  Dept Grade
0         X      101   FET     A
1         Y      102   FOS     A
2         Z      103   FMS     D
3         W      104  FOAg     B
4         V      105   FET     A
5         U      106   FOS     C

stud_name      Z
stud_id      103
Dept         FMS
Grade          D
Name: 2, dtype: object

In [21]:
'''create e dictionary, name, age and city and pass the values to it and convert that to the dataframe '''

import pandas as pd
info = {'Name':pd.Series(['Amlan','Juhuuuu','Pracheeee','Amryutanshoe','Annabelle']),
        'Age':pd.Series([19,18,20,18,19]),
        'City':pd.Series(['Cuttack','Asansol','Rourbanana','Balasore','Michighan'])}
pookie = pd.DataFrame(info)
print(pookie)

           Name  Age        City
0         Amlan   19     Cuttack
1       Juhuuuu   18     Asansol
2     Pracheeee   20  Rourbanana
3  Amryutanshoe   18    Balasore
4     Annabelle   19   Michighan

In [22]:
import pandas as pd
info = {'one':pd.Series([1,2,3,4,5,6], index = ['a','b','c','d','e','f']),
       'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
d1 = pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8